@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gatehouse Intelligent Operator</h1>
    <p>This application will manage in and out movements at your yard.</p>

</div>
